<!doctype html>
<html lang="en" ng-app>
    <head>
        <script src='https://cdn.firebase.com/v0/firebase.js'></script>
    </head>

    <body>
    	<h1>Room: {{ room }}</h1>

    	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>

        <script>
            // init gobal firebase
            var myDataRef = new Firebase('https://ply2gt4.firebaseio.com/');
        </script>

        {% raw %}
            <div ng-controller="SearchCtrl">

                <input type="text" id="search-input">

                <button id="search-button" ng-click="run_search">Search</button>

                <ul id="search-results" ng-repeat="result in results">
                    {{ result.title }}
                </ul>
            </div>
        {% endraw %}


        <script>
            PLY2GT4 = {
                'room': '{{ room }}'
            };
        </script>

        <script src="/static/js/youtube_search.js"></script>

        <script src="https://apis.google.com/js/client.js?onload=OnLoadCallback"></script>
		<script src="/static/js/firebasedata.js"></script>
    </body>
</html>
